.monthly-summary {
    background-color: #f2f2f2;
    color: #111111;
    padding: 20px;
    margin: 10px 20px;
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header h4 {
    margin: 0;
}

.close-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #555;
    font-size: 16px;
}

.summary-item {
    margin-bottom: 10px;
}

.summary-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.progress-bar {
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
}

.progress {
    background-color: #ff521c;
    height: 100%;
}
