.manage-reservation {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-left: 20px;
}

.calendar-column, .reservation-column, .action-column {
    flex: 1;
}

.calendar-container {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.month-year {
    font-size: 18px;
    font-weight: bold;
}

.navigation {
    display: flex;
    gap: 10px;
}

.navigation button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.react-calendar {
    width: 100%;
    max-width: 300px;
    border: none;
    border-radius: 8px;
    box-shadow: none;
    font-family: inherit;
}

.react-calendar__navigation {
    display: none; /* Masquer les flèches de navigation par défaut */
}

.calendar-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #ffffff;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.calendar-day:hover {
    background-color: #ff521c; /* Couleur de surbrillance au survol */
}

.day-initial {
    font-size: 24px;
    font-weight: bold;
}

.day-number {
    font-size: 18px;
}

.reservation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.reservation-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.reservation-card {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reservation-card .time {
    font-size: 40px;
    font-weight: bold;
}

.reservation-card .details {
    text-align: right;
}

.floating-buttons {
    position: sticky;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.add-button {
    background-color: orange;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.percentage-card {
    background-color: #e6f7e6;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.percentage-card h1 {
    color: green;
    font-size: 36px;
    margin: 0;
}
